[user]
    name = Guoqiang Chen
    email = subchen@gmail.com
[push]
    default = simple

[core]
    ignorecase = false
    editor = vim
    pager = diff-so-fancy | less --tabs=4 -RFX
[status]
    showUntrackedFiles = all

[color]
    ui = true

[help]
    autocorrect = 1

[merge]
    #tool = vimdiff
    tool = meld
    conflictstyle = diff3
[mergetool]
    prompt = false
[mergetool "meld"]
    cmd = meld $LOCAL $BASE $REMOTE --output=$MERGED --auto-merge

[alias]
    undo = "reset --soft HEAD ^"
    stash-all = "stash save --include-untracked"
    show-branch-name = "symbolic-ref --short -q HEAD"
    glog = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset'"
    diff-so-fancy = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy | less --tabs=4 -RFX; }; f"
    show-so-fancy = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git show --color \"$@\" | diff-so-fancy | less --tabs=4 -RFX; }; f"
